
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-flag:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-spin3:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */